<div class="show_post">

<br>
<img src="<%= @post.photo %>">
<%= simple_format(@post.text) %>
<p>Posted by
<%= link_to "#{@post.user.name}", @post.user %></p>
<br>

<h3>Comments</h3>
<ul>
<% @post.comments.each do |comment| %>
<li>

  <div class="container">
  <div class="title">
    <div class="pull-right">
      <button class="minimize">_</button>
      <button class="expand">򪪪</span></button>
      <button class="times">x</button>
    </div>
    <h1><div class="icon-my-computer"></div>c o m p u t e r</h1>
  </div>
  <ul class="toolbar">
    <li><u>C</u>omment</li>
  </ul>
  <div class="container-inner">
    <ul class="icons">
      <li class="icon-floppy"><%= comment.content %></li>
    </ul>
  </div>
  <div class="statusbar">
    <div class="left">1 object(s)</div>
    <div class="right">&nbsp;</div>
  </div>
</div>

</li>
<br>
<% end %>
</ul>

<p>Add a comment:</p>
<% if current_user %>
  <%= form_for([@post, @post.comments.build]) do |form| %>
    <p>
      <%= form.text_area :content %>
    </p>

    <p>
      <%= form.submit "Post comment" %>
    </p>
  <% end %>
<% else %>
  <p>Please <%= link_to "sign up", new_user_path %> to comment on a post!</p>
<% end %>
</div>
